:root {
    --cell-padding-sides: 6px;
    --cell-padding-sides-num: 6;
    --input-margin-sides: -2px;
    --input-margin-sides-num: -2;
}

/* TABLE CONTAINER */

.edit-table-container {
    min-height: 80px;
    width: fit-content;
    max-width: 100%;
    box-sizing: border-box;
    overflow: auto;

    border-radius: 12px;
    padding: 2px;
    margin-left: 4px;
    margin-right: 4px;
}

.body-light .edit-table-container {
    border: 6px solid var(--light-color-b);
}

.body-dark .edit-table-container {
    border: 6px solid var(--dark-color-b);
}

.edit-table-container .tooltip {
    font-weight: normal;
}

/* TABLE */

.edit-table {
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    text-align: left;
    table-layout: auto;
}

/* ROW NUMBER TD */

.edit-table .row-number-td {
    width: 40px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1px;
}

.edit-table thead .row-number-td {
    border-color: transparent !important;
}

.body-light .edit-table tbody .row-number-td {
    border-color: var(--light-color-a);
    background-color: var(--light-color-b);
}

.body-dark .edit-table tbody .row-number-td {
    border-color: var(--dark-color-a);
    background-color: var(--dark-color-b);
}

.row-number-td:hover .delete-row-or-column-button {
    visibility: visible;
}

/* BUTTON FOR ROW OR COLUMN DELETE */

.delete-row-or-column-button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    visibility: hidden;
    padding: 0;
    margin: -2px 0 0 0;

    border: none;
    background-color: transparent !important;
    color: var(--dark-color-d) !important;
    transform: scale(1.2);
}

.delete-row-or-column-button:hover {
    transition: ease-in-out;
    transform: scale(1.4);
    margin: -4px 0 0 0;
}

/* BUTTON FOR ROW ADDITION */

.add-row-td {
    border: none !important;
    padding: 1px 1px 0 1px !important;
    width: 40px;
}

.add-row-td button {
    width: 100%;
    height: 100%;
    padding: 1px 6px 0 6px;
}

/* TD */

.edit-table td {
    position: relative;
    height: 21px;
    padding: 2px var(--cell-padding-sides) 2px var(--cell-padding-sides);
    white-space: nowrap;
    border-radius: 6px;
}

.edit-table td .tooltip {
    top: unset;
    bottom: 105%;
}

.edit-table td:hover .tooltip {
    visibility: visible;
}

.body-light .edit-table td {
    border: 1px solid var(--light-color-b);
}

.body-light .edit-table td:hover {
    border: 1px solid var(--light-color-d);
}

.body-dark .edit-table td {
    border: 1px solid var(--dark-color-b);
}

.body-dark .edit-table td:hover {
    border: 1px solid var(--dark-color-d);
}

.body-light .edit-table td:focus-within {
    background-color: var(--light-color-b);
    border: 1px solid var(--light-color-d);
}

.body-dark .edit-table td:focus-within {
    background-color: var(--dark-color-d);
    border: 1px solid var(--dark-color-d);
}

/* TEXT INPUT IN TABLE */

.edit-table input[type="text"] {
    margin: 0 var(--input-margin-sides);
    padding: 0 calc(var(--input-margin-sides) * -1);
    font-size: inherit;
    border: none;
    box-sizing: border-box;
}

.body-light .edit-table .name-th input {
    background-color: var(--light-color-b);
}

.body-dark .edit-table .name-th input {
    background-color: var(--dark-color-b);
}

/* TH */

.edit-table th {
    position: relative;
    font-weight: bold;
    white-space: nowrap;
}

.edit-table th:hover .tooltip {
    visibility: visible;
}

.name-th:hover .tooltip {
    visibility: visible;
}

.name-th {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-radius: 8px 8px 0 0;
    padding: 2px var(--cell-padding-sides) 4px var(--cell-padding-sides);
}

.type-th {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-radius: 0 0 8px 8px;
    padding: 0 var(--cell-padding-sides) 2px var(--cell-padding-sides);
}

.type-th:hover .delete-row-or-column-button {
    visibility: visible;
}

.body-light .edit-table th {
    background-color: var(--light-color-b);
    border-color: var(--light-color-a);
}

.body-dark .edit-table th {
    background-color: var(--dark-color-b);
    border-color: var(--dark-color-a);
}

.body-light .edit-table .name-th:hover {
    border-width: 1px;
    padding-bottom: 2px;
    border-color: var(--light-color-d);
    border-radius: 8px;
}

.body-dark .edit-table .name-th:hover {
    border-width: 1px;
    padding-bottom: 2px;
    border-color: var(--dark-color-d);
    border-radius: 8px;
}

.body-light .edit-table .name-th:focus-within {
    border-width: 1px;
    padding-bottom: 2px;
    background-color: var(--light-color-d);
    border-color: var(--light-color-d);
    border-radius: 8px;
}

.body-dark .edit-table .name-th:focus-within {
    border-width: 1px;
    padding-bottom: 2px;
    background-color: var(--dark-color-d);
    border-color: var(--dark-color-d);
    border-radius: 8px;
}

/* ERROR INPUT */

.name-th.error-input {
    border-width: 1px;
    padding-bottom: 2px;
    border-color: var(--error-color) !important;
    border-radius: 8px;
}

td.error-input {
    border-color: var(--error-color) !important;
}

/* SELECT IN TABLE */

.edit-table select {
    background-color: transparent;
    color: inherit;
    border-radius: 4px;
    min-width: 80px;
    cursor: pointer;
    font-size: inherit;
}

.body-light .edit-table select {
    border-color: transparent;
}

.body-dark .edit-table select {
    border-color: transparent;
}

.body-light .edit-table select:hover {
    background-color: var(--light-color-d);
}

.body-dark .edit-table select:hover {
    background-color: var(--dark-color-d);
}

.body-light .edit-table select option {
    background-color: var(--light-color-a);
}

.body-dark .edit-table select option {
    background-color: var(--dark-color-a);
}