/* TABLE CONTAINER */

.edit-table-container {
    min-height: 80px;
    resize: vertical;
    overflow: auto;
    font-size: 14px;

    border-radius: 12px;
    padding: 2px;
    margin-left: 4px;
    margin-right: 4px;
}

.edit-table-container-light {
    border: 6px solid var(--light-section);
}

.edit-table-container-dark {
    border: 6px solid var(--dark-section);
}

.edit-table-container .tooltip {
    font-weight: normal;
}

/* TABLE */

.edit-table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    text-align: left;
    table-layout: auto;
}

.edit-table-light {
}

.edit-table-dark {
}

/* ROW NUMBER TD */

.edit-table .row-number-td {
    width: 40px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1px;
}

.edit-table thead .row-number-td {
    border-color: transparent;
}

.edit-table-light tbody .row-number-td {
    border-color: var(--light-background);
    background-color: var(--light-section);
}

.edit-table-dark tbody .row-number-td {
    border-color: var(--dark-background);
    background-color: var(--dark-section);
}

.row-number-td:hover .delete-row-or-column-button {
    visibility: visible;
}

/* BUTTON FOR ROW OR COLUMN DELETE */

.delete-row-or-column-button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    visibility: hidden;
    padding: 0;
    margin: -2px 0 0 0;

    border: none;
    background-color: transparent;
    color: var(--dark-details);
    transform: scale(1.2);
}

.delete-row-or-column-button:hover {
    transition: ease-in-out;
    transform: scale(1.4);
    margin: -4px 0 0 0;
}

/* BUTTON FOR ROW ADDITION */

.add-row-td {
    border: none !important;
    padding: 1px !important;
    width: 40px;
}

.add-row-td button {
    width: 100%;
    height: 100%;
}

/* TD */

.edit-table td {
    position: relative;
    height: 21px;
    padding: 0 4px 0 4px;
    white-space: nowrap;
    border-radius: 6px;
}

.edit-table td:hover .tooltip {
    visibility: visible;
}

.edit-table-light td {
    border: 1px solid var(--light-section);
}

.edit-table-dark td {
    border: 1px solid var(--dark-section);
}

.edit-table-light td:focus-within {
    border: 1px solid var(--light-details);
}

.edit-table-dark td:focus-within {
    border: 1px solid var(--dark-details);
}

/* INPUT IN TABLE */

.edit-table input {
    margin: 0;
    padding: 0;
    font-size: inherit;
    border: none;
    min-width: 200px;
    width: 100%;
}

/* TH */

.edit-table th {
    position: relative;
    padding-right: 4px;
    font-weight: bold;
    white-space: nowrap;
}

.edit-table th:hover .tooltip {
    visibility: visible;
}

.name-th:hover .tooltip {
    visibility: visible;
}

.name-th {
    border-width: 2px 2px 0 2px;
    border-style: solid;
    border-radius: 8px 8px 0 0;
    padding: 2px 4px 4px 6px;
    box-sizing: border-box;
}

.type-th {
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-radius: 0 0 8px 8px;
    padding: 0 4px 2px 2px;
}

.type-th:hover .delete-row-or-column-button {
    visibility: visible;
}

.edit-table-light th {
    background-color: var(--light-section);
    border-color: var(--light-background);
}

.edit-table-dark th {
    background-color: var(--dark-section);
    border-color: var(--dark-background);
}

.edit-table-light .name-th:focus-within {
    border-width: 2px;
    padding-bottom: 2px;
    border-color: var(--light-details);
    border-radius: 8px;
}

.edit-table-dark .name-th:focus-within {
    border-width: 2px;
    padding-bottom: 2px;
    border-color: var(--dark-details);
    border-radius: 8px;
}

/* ERROR INPUT */

.name-th.error-input {
    border-width: 2px;
    padding-bottom: 2px;
    border-color: red !important;
    border-radius: 8px;
}

td.error-input {
    border-color: red !important;
}

/* SELECT IN TABLE */

.edit-table select {
    background-color: transparent;
    color: inherit;
    border-radius: 4px;
    min-width: 80px;
    cursor: pointer;
    font-size: inherit;
}

.edit-table-light select {
    border-color: transparent;
}

.edit-table-dark select {
    border-color: transparent;
}

.edit-table-light select:hover {
    background-color: var(--light-details);
}

.edit-table-dark select:hover {
    background-color: var(--dark-details);
}

.edit-table-light select option {
    background-color: var(--light-background);
}

.edit-table-dark select option {
    background-color: var(--dark-background);
}

/* MENU SHOWN ON RIGHT-CLICK */

.table-right-click-menu {
    visibility: hidden;
    position: absolute;
    z-index: 1;
}