:root {
    --footer-heigth: 70px;
    --footer-padding: 15px;
}

.page-footer {
    height: calc(var(--footer-heigth) - 2 * var(--footer-padding));
    padding: var(--footer-padding);
    font-size: 12px;
}

.page-footer-dark a, .page-footer-dark a:visited {
    color: #000000;
}

.page-footer-light a, .page-footer-light a:visited {
    color: #999999;
}

.footer-list {
    list-style-type: none;
    align-items: center;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.footer-hr-dark {
    border-color: #404245;
}

.footer-hr-light {
    border-color: #dddddd;
}