.management-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 8px var(--left-text-margin);
    width: 100%;
    box-sizing: border-box;
    background-color: var(--light-color-c);
    border-radius: 20px;
}

/* APP NAME */

.management-section h1 {
    margin: 0 20px 0 0;
    cursor: default;
    color: var(--light-color-e);
}

/* BUTTONS */

/* light-theme version keeps default button colors */

.body-dark .management-section button, .body-dark .management-section .button-like {
    background-color: var(--dark-color-d);
    border-color: var(--dark-color-d);
}

.body-dark .management-section button:hover, .body-dark .management-section .button-like:hover {
    background-color: var(--dark-color-e);
    border-color: var(--dark-color-e);
}

/* LIST MENU */

.management-section div:hover .list-menu {
    visibility: visible;
}

.list-menu {
    list-style-type: none;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    cursor: default;
    text-align: left;
    white-space: nowrap;

    top: 110%;
    left: 0;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
}

.body-dark .list-menu {
    background-color: var(--dark-color-b);
    border: 2px solid var(--dark-color-d);
}

.body-light .list-menu {
    background-color: var(--light-color-b);
    border: 2px solid var(--light-color-d);
}

.body-light .list-menu button {
    background-color: var(--light-color-c);
    border-color: var(--light-color-c);
}

.body-light .list-menu button:hover {
    background-color: var(--light-color-d);
    border-color: var(--light-color-d);
}

.list-menu span {
    width: 110px;
    display: inline-block;
}