.management-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0 10px 0;
    margin-left: var(--left-text-margin);
    width: 100%;
}

/* APP NAME */

.management-section h1 {
    margin: 0 20px 0 0;
    cursor: default;
    color: var(--dark-details);
}

/* LIST MENU */

.management-section div:hover .list-menu {
    visibility: visible;
}

.list-menu {
    list-style-type: none;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    cursor: default;
    text-align: left;
    white-space: nowrap;

    top: 110%;
    left: 0;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
}

.list-menu-dark {
    background-color: var(--dark-section);
    border: 2px solid var(--dark-details);
}

.list-menu-light {
    background-color: var(--light-section);
    border: 2px solid var(--light-details);
}

.list-menu span {
    width: 110px;
    display: inline-block;
}

/* FAKES ELEMENT TO APPEAR AS A BUTTON */

.button-like {
    -webkit-appearance: button;
    text-decoration: none;
    padding: 1px 6px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;

    border: 2px solid transparent;
    border-radius: 5px;
    margin: 1px;
    height: var(--button-height);
    font-size: var(--font-size);
}