/* TABLE CONTAINER */

.result-table-container {
    width: fit-content;
    max-width: 100%;
    box-sizing: border-box;
    overflow: auto;

    border: 6px solid var(--color-b);
    border-radius: 5px;
    padding: 2px;
}

/* TABLE */

.result-table {
    /*width: 100%;*/
    max-width: 100%;
    max-height: fit-content;
    text-align: center;
    border-spacing: 0;
}

/* ROW NUMBER TD */

.result-table .row-number-td {
    width: 40px;
    min-width: 20px;
    border-radius: 8px;
}

.result-table thead .row-number-td {
    border-color: transparent !important;
}

.result-table tbody .row-number-td {
    border-color: var(--color-a);
    background-color: var(--color-b);
}

/* TH */

.result-table th {
    min-width: 100px;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    padding: 2px 5px;

    font-weight: bold;
    border-color: var(--color-a);
    background-color: var(--color-b);
}

.result-table th:hover {
    cursor: pointer;
    background-color: var(--color-d);
}

/* TD */

.result-table td {
    border-radius: 6px;
    height: 21px;
    padding: 2px 4px 0 4px;
    border: 1px solid var(--color-b);
}