.result-section {
    padding-bottom: 15px;
}

/* PARAGRAPHS */

.result-section > .upper-p {
    margin: 15px 5px 15px var(--left-text-margin);
}

.result-section > .lower-p {
    margin: 20px 5px 0 var(--left-text-margin);
}
