:root {
    --x-textarea-font-size: 16px;
    --x-textarea-font-family: monospace;
    --x-textarea-line-height-px: 20px;
    --x-textarea-line-height: 20; /* should be same is number above (without px) */

    --whisper-dark-text-color: white;
    --whisper-light-text-color: black;
}

/* MODE INDEPENDENT */

.x-textarea-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 692px;
    max-width: 100%;
    box-sizing: border-box;

    border: 2px solid;
    border-radius: 5px;
    padding: 2px 4px 0 2px;
}

.x-textarea {
    width: 100%;
    line-height: var(--x-textarea-line-height-px);
    padding-left: 5px;
    border-radius: 5px;
    box-sizing: border-box;

    font-size: var(--x-textarea-font-size);
    font-family: var(--x-textarea-font-family);

    white-space: pre;
    overflow-wrap: normal;
    resize: none;
    overflow: visible;
}

.x-textarea-table {
    width: 100%;
}

.x-textarea-table-td2 {
    vertical-align: top;
    position: relative;
}

/* WHISPER DIV */

.whisper-div {
    width: auto;
    height: auto;
    position: absolute;
    display: none;
    z-index: 1;
    cursor: default;

    text-align: left;
    font-size: var(--x-textarea-font-size);
    font-family: var(--x-textarea-font-family);
    font-weight: lighter;
    border: 1px solid;
    border-radius: 5px;
}

.whisper-div div {
    padding: 0 2px;
    border-radius: 5px;
}

.body-dark .whisper-div {
    border-color: white;
    background-color: var(--dark-color-a);
}

.body-light .whisper-div {
    border-color: #555;
    background-color: var(--light-color-a);
}

.body-dark .whisper-div div {
    background-color: var(--dark-color-a);
}

.body-light .whisper-div div {
    background-color: var(--light-color-a);
}

.body-dark .whisper-div .selected-whisper {
    background-color: var(--dark-color-d) !important; /* more important than dark/light mode background color */
    color: var(--whisper-dark-text-color);
}

.body-light .whisper-div .selected-whisper {
    background-color: var(--light-color-d) !important; /* more important than dark/light mode background color */
    color: var(--whisper-light-text-color);
}

.whisper-div .whisper-matched-word {
    font-weight: 1000;
}

.body-dark .whisper-div .whisper-rejected-word {
    color: #888888;
}

.body-light .whisper-div .whisper-rejected-word {
    color: #666666;
}

.body-dark .whisper-div .selected-whisper .whisper-rejected-word {
    color: var(--whisper-dark-text-color);
}

.body-light .whisper-div .selected-whisper .whisper-rejected-word {
    color: var(--whisper-light-text-color);
}

/* HIGHLIGHT */

.x-textarea-highlight {
    height: 3px;
    margin-top: -3px;
    background-color: transparent;
    border-bottom: 2px dotted var(--error-color);
    position: absolute;
}

.x-textarea-highlight:hover .highlight-tooltip {
    visibility: visible;
}

.highlight-tooltip {
    visibility: hidden;
    width: max-content;
    max-width: 400px;
    position: absolute;
    z-index: 1;
    top: calc(100% + 2px);
    left: 50%;
    padding: 5px;

    background-color: white;
    border: 1px solid #555;
    border-radius: 5px;

    color: #555;
    font-size: var(--x-textarea-font-size);
    font-family: var(--x-textarea-font-family);
    text-align: left;
}

/* COLORS */

.body-light .x-textarea-div {
    border-color: var(--light-color-b);
    background-color: var(--light-color-b);
}

.body-dark .x-textarea-div {
    border-color: var(--dark-color-b);
    background-color: var(--dark-color-b);
}

.x-textarea-table-td1 {
    vertical-align: top;
    width: 1px;
}

.body-light .x-textarea-table-td1 {
    background-color: var(--light-color-b);
}

.body-dark .x-textarea-table-td1 {
    background-color: var(--dark-color-b);
}

.body-light .x-textarea {
    border: 2px solid var(--light-color-b);
    color: var(--text-color-light);
    background-color: var(--light-color-a);
}

.body-dark .x-textarea {
    border: 2px solid var(--dark-color-b);
    color: var(--text-color-dark);
    background-color: var(--dark-color-a);
}

.body-dark .x-textarea::placeholder {
    color: var(--text-color-dark);
}

.body-light .x-textarea:focus {
    border: 2px solid var(--light-color-d);
}

.body-dark .x-textarea:focus {
    border: 2px solid var(--dark-color-d);
}

.body-light .x-textarea-canvas {
    background-color: var(--light-color-b);
}

.body-dark .x-textarea-canvas {
    background-color: var(--dark-color-b);
}