:root {
  /* CONSTANTS*/
  --button-height: 24px;
  --font-size: 16px;
  --left-text-margin: 15px;
  --action-color: #43b581;
  --error-color: #fd3030;

  /* DARK COLORS */
  --dark-background: #36393f;
  --dark-section: #202225;
  --dark-area: var(--dark-background);
  --dark-details: #7289da;

  --text-color-dark: white;

  /* LIGHT COLORS */
  --light-background: white;
  --light-section: #bbbbbb;
  --light-area: var(--light-background);
  --light-details: #7289da; /* #89a4ff */

  --text-color-light: black;
}

:focus {
  outline: none;
}

html {
  height: 100%;
}

html::-webkit-scrollbar-track {
  background-color: var(--dark-area);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--light-section);
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 2px var(--light-area);
}

/* BODY */

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-light {
  background-color: var(--light-background);
  color: var(--text-color-light);
}

.body-dark {
  background-color: var(--dark-background);
  color: var(--text-color-dark);
}

/* SCROLLBAR */

.cursor-container-light::-webkit-scrollbar {
  background-color: var(--light-area);
}

.cursor-container-dark::-webkit-scrollbar {
  background-color: var(--dark-area);
}

.cursor-container-light::-webkit-scrollbar-track {
  background-color: var(--light-area);
}

.cursor-container-dark::-webkit-scrollbar-track {
  background-color: var(--dark-area);
}

.cursor-container-light::-webkit-scrollbar-thumb {
  background-color: var(--light-section);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px var(--light-area);
}

.cursor-container-dark::-webkit-scrollbar-thumb {
  background-color: var(--dark-section);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px var(--dark-area);
}

.cursor-container-light::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-details);
  border-radius: 10px;
}

.cursor-container-dark::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-details);
  border-radius: 10px;
}

.cursor-container-light::-webkit-scrollbar-corner {
  background-color: var(--light-section);
}

.cursor-container-dark::-webkit-scrollbar-corner {
  background-color: var(--dark-section);
}

/* DIV */

div {
  white-space: pre-wrap;  /* to use /n as new line in div */
}

/* SECTION BORDERS */

.section-border-dark {
  border: 6px solid var(--dark-section);
  border-radius: 12px;
  margin-bottom: 5px;
}

.section-border-light {
  border: 6px solid var(--light-section);
  border-radius: 12px;
  margin-bottom: 3px;
}

.section-border-dark-clicked {
  border: 6px solid var(--dark-details);
  border-radius: 12px;
  margin-bottom: 5px;
}

.section-border-light-clicked {
  border: 6px solid var(--light-details);
  border-radius: 12px;
  margin-bottom: 3px;
}

/* MAIN */

main {
  text-align: left;
  padding: 15px 15px 50px 15px;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* MENU */

menu {
  margin: 0;
  padding: 0;
}

/* PAGE SECTION */

.page-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid var(--dark-details);
}

/* PAGE SECTION HEADER (with heading and buttons) */

.page-section > header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
  margin: 10px 0 0 var(--left-text-margin);
}

.page-section > header > h2 {
  margin: 0 20px 0 0;
  color: var(--dark-details);
}

/* PAGE SECTION TAB MENU */

.page-section-tab-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0 15px var(--left-text-margin);
}

.page-section-tab-menu button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  min-width: 100px;
  /*max-width: 200px;*/
}

.page-section-tab-menu button:hover {
  overflow: visible;
  max-width: none;
}

/* PAGE SECTION MANAGEMENT MENU */

.page-section-management-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0 15px var(--left-text-margin);
}

/* BUTTON */

button {
  border: 2px solid;
  border-radius: 5px;
  margin: 1px;
  height: var(--button-height);
  font-size: var(--font-size);
  white-space: nowrap;
}

.button-light {
  position: relative;
  background-color: var(--light-section);
  border-color: var(--light-section);
  color: var(--text-color-light);
}

.button-dark {
  position: relative;
  background-color: var(--dark-section);
  border-color: var(--dark-section);
  color: var(--text-color-dark);
}

.button-light:disabled {
  background-color: var(--light-background) !important;
  border-color: var(--light-background) !important;
  cursor: default;
}

.button-dark:disabled {
  background-color: var(--dark-background) !important;
  border-color: var(--dark-background) !important;
  cursor: default;
}

.button-light:focus {
  border-color: var(--light-details) !important;
}

.button-dark:focus {
  border-color: var(--dark-details) !important;
}

button:hover {
  cursor: pointer;
}

button:hover .tooltip {
  visibility: visible;
}

.button-light:hover {
  background-color: var(--light-details);
  border-color: var(--light-details);
}

.button-dark:hover {
  background-color: var(--dark-details);
  border-color: var(--dark-details);
}

.button-clicked-light {
  position: relative;
  background-color: var(--light-details);
  border-color: var(--light-details);
  color: var(--text-color-light);
}

.button-clicked-dark {
  position: relative;
  background-color: var(--dark-details);
  border-color: var(--dark-details);
  color: var(--text-color-dark);
}

.action-button {
  position: relative;
  background-color: var(--action-color);
  border-color: var(--action-color);
  color: white;
}

.action-button:hover {
  background-color: var(--dark-details);
  border-color: var(--dark-details);
}

/* TOOLTIP */

.tooltip {
  visibility: hidden;
  /*min-width: 120px;*/
  width: auto;
  position: absolute;
  z-index: 1;

  top: 100%;
  left: 0;
  margin-left: -2px;
  margin-top: 4px;

  background-color: white;
  color: #555;
  white-space: nowrap;
  border: 1px solid #555;
  border-radius: 6px;
  text-align: center;
  padding: 5px;
}

.tooltip-light {
  /*border: 1px solid var(--light-section);*/
}

.tooltip-dark {
  /*border: 1px solid var(--dark-section);*/
}

/* TEXT INPUT */

.text-input-light {
  background-color: var(--light-area);
  border: 2px solid var(--light-section);
  border-radius: 5px;
  padding: 2px;
  margin: 1px;
  color: var(--text-color-light);
}

.text-input-light:focus {
  border-color: var(--light-details);
}

.text-input-dark {
  background-color: var(--dark-area);
  border: 2px solid var(--dark-section);
  border-radius: 5px;
  padding: 2px;
  margin: 1px;
  color: var(--text-color-dark);
}

.text-input-dark:focus {
  border-color: var(--dark-details);
}
