:root {
  /* CONSTANTS*/
  --button-height: 24px;
  --button-font-size: 14px;

  /* DARK COLORS */
  --dark-background: #36393f;
  --dark-section: #202225;
  --dark-area: var(--dark-background);
  --dark-details: #7289da;

  --text-color-dark: white;

  /* LIGHT COLORS */
  --light-background: white;
  --light-section: #bbbbbb;
  --light-area: var(--light-background);
  --light-details: #89a4ff;/* #7289da */

  --text-color-light: black;
}

:focus {
  outline: none;
}

html {
  height: 100%;
}

html::-webkit-scrollbar-track {
  background-color: var(--dark-area);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--light-section);
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 2px var(--light-area);
}

/* BODY */

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-light {
  background-color: var(--light-background);
  color: var(--text-color-light);
}

.body-dark {
  background-color: var(--dark-background);
  color: var(--text-color-dark);
}

/* SCROLLBAR */

.cursor-container-light::-webkit-scrollbar {
  background-color: var(--light-area);
}

.cursor-container-dark::-webkit-scrollbar {
  background-color: var(--dark-area);
}

.cursor-container-light::-webkit-scrollbar-track {
  background-color: var(--light-area);
}

.cursor-container-dark::-webkit-scrollbar-track {
  background-color: var(--dark-area);
}

.cursor-container-light::-webkit-scrollbar-thumb {
  background-color: var(--light-section);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px var(--light-area);
}

.cursor-container-dark::-webkit-scrollbar-thumb {
  background-color: var(--dark-section);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px var(--dark-area);
}

.cursor-container-light::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-details);
  border-radius: 10px;
}

.cursor-container-dark::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-details);
  border-radius: 10px;
}

.cursor-container-light::-webkit-scrollbar-corner {
  background-color: var(--light-section);
}

.cursor-container-dark::-webkit-scrollbar-corner {
  background-color: var(--dark-section);
}

/* DIV */

div {
  white-space: pre-wrap;  /* to use /n as new line in div */
}

/* SECTION BORDERS */

.section-border-dark {
  border: 6px solid var(--dark-section);
  border-radius: 12px;
  margin-bottom: 5px;
}

.section-border-light {
  border: 6px solid var(--light-section);
  border-radius: 12px;
  margin-bottom: 3px;
}

.section-border-dark-clicked {
  border: 6px solid var(--dark-details);
  border-radius: 12px;
  margin-bottom: 5px;
}

.section-border-light-clicked {
  border: 6px solid var(--light-details);
  border-radius: 12px;
  margin-bottom: 3px;
}

/* MAIN */

main {
  text-align: center;
  width: 70%;
  left: 15%;
  min-height: calc(100vh - var(--footer-heigth));
  position: relative;
}

@media (max-width: 1200px) {
  main {
    width: 80%;
    left: 10%;
  }
}

@media (max-width: 1000px) {
  main {
    width: 90%;
    left: 5%;
  }
}

@media (max-width: 800px) {
  main {
    width: 96%;
    left: 2%;
  }
}

/* BUTTON */

button {
  border: 2px solid;
  border-radius: 5px;
  margin: 1px;
  height: var(--button-height);
  font-size: var(--button-font-size);
}

.button-light {
  position: relative;
  height: var(--button-height);
  background-color: var(--light-section);
  border-color: var(--light-section);
  color: var(--text-color-light);
}

.button-dark {
  position: relative;
  height: var(--button-height);
  background-color: var(--dark-section);
  border-color: var(--dark-section);
  color: var(--text-color-dark);
}

.button-light:disabled {
  background-color: var(--light-background) !important;
  border-color: var(--light-background) !important;
  cursor: default;
}

.button-dark:disabled {
  background-color: var(--dark-background) !important;
  border-color: var(--dark-background) !important;
  cursor: default;
}

.button-light:focus {
  border-color: var(--light-details) !important;
}

.button-dark:focus {
  border-color: var(--dark-details) !important;
}

button:hover {
  cursor: pointer;
}

button:hover .tooltip {
  visibility: visible;
}

.button-light:hover {
  background-color: var(--light-details);
  border-color: var(--light-details);
}

.button-dark:hover {
  background-color: var(--dark-details);
  border-color: var(--dark-details);
}

.button-clicked-light {
  position: relative;
  height: var(--button-height);
  background-color: var(--light-details);
  border-color: var(--light-details);
  color: var(--text-color-light);
}

.button-clicked-dark {
  position: relative;
  height: var(--button-height);
  background-color: var(--dark-details);
  border-color: var(--dark-details);
  color: var(--text-color-dark);
}

/* TOOLTIP */

.tooltip {
  visibility: hidden;
  min-width: 120px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;

  background-color: white;
  color: #555;
  white-space: pre-wrap;
  border: 1px solid #555;
  border-radius: 6px;

  text-align: center;
  padding: 5px 2px;
  margin-left: -60px;
  margin-bottom: 4px;
}

.tooltip-light {
  /*border: 1px solid var(--light-section);*/
}

.tooltip-dark {
  /*border: 1px solid var(--dark-section);*/
}

/* TEXT INPUT */

.text-input-light {
  background-color: var(--light-area);
  border: 2px solid var(--light-section);
  border-radius: 5px;
  padding: 2px;
  margin: 1px;
  color: var(--text-color-light);
}

.text-input-light:focus {
  border-color: var(--light-details);
}

.text-input-dark {
  background-color: var(--dark-area);
  border: 2px solid var(--dark-section);
  border-radius: 5px;
  padding: 2px;
  margin: 1px;
  color: var(--text-color-dark);
}

.text-input-dark:focus {
  border-color: var(--dark-details);
}
