:root {
  --button-height: 24px;
  --font-size: 16px;
  --left-text-margin: 15px;
  --action-color: #43b581;
  --error-color: #fd3030;

  /* DARK COLORS */
  --text-color-dark: white;

  --dark-color-a: #36393f;
  --dark-color-b: #202225;
  --dark-color-c: #7586dc;
  --dark-color-d: #4c60c2;
  --dark-color-e: #141b39;

  /* LIGHT COLORS */
  --text-color-light: black;

  --light-color-a: #ffffff;
  --light-color-b: #c6cdf1;
  --light-color-c: #7586dc;
  --light-color-d: #4c60c2;
  --light-color-e: #141b39;
}

:focus {
  outline: none;
}

html {
  height: 100%;
}

/* BODY */

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-light {
  background-color: var(--light-color-a);
  color: var(--text-color-light);
}

.body-dark {
  background-color: var(--dark-color-a);
  color: var(--text-color-dark);
}

/* SCROLLBAR */

.body-light .cursor-container::-webkit-scrollbar, .body-light::-webkit-scrollbar {
  background-color: var(--light-color-a);
}

.body-dark .cursor-container::-webkit-scrollbar, .body-dark::-webkit-scrollbar {
  background-color: var(--dark-color-a);
}

.body-light .cursor-container::-webkit-scrollbar-track, .body-light::-webkit-scrollbar-track {
  background-color: var(--light-color-a);
}

.body-dark .cursor-container::-webkit-scrollbar-track, .body-dark::-webkit-scrollbar-track {
  background-color: var(--dark-color-a);
}

.body-light .cursor-container::-webkit-scrollbar-thumb, .body-light::-webkit-scrollbar-thumb {
  background-color: var(--light-color-b);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px var(--light-color-a);
}

.body-dark .cursor-container::-webkit-scrollbar-thumb, .body-dark::-webkit-scrollbar-thumb {
  background-color: var(--dark-color-b);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px var(--dark-color-a);
}

.body-light .cursor-container::-webkit-scrollbar-thumb:hover, .body-light::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-color-d);
  border-radius: 10px;
}

.body-dark .cursor-container::-webkit-scrollbar-thumb:hover, .body-dark::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-color-d);
  border-radius: 10px;
}

.body-light .cursor-container::-webkit-scrollbar-corner, .body-light::-webkit-scrollbar-corner {
  background-color: var(--light-color-b);
}

.body-dark .cursor-container::-webkit-scrollbar-corner, .body-dark::-webkit-scrollbar-corner {
  background-color: var(--dark-color-b);
}

/* DIV */

div {
  white-space: pre-wrap;  /* to use /n as new line in div */
}

/* MAIN */

main {
  text-align: left;
  padding: 15px 15px 50px 15px;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* MENU */

menu {
  margin: 0;
  padding: 0;
}

/* PAGE SECTION */

.page-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.body-light .page-section {
  border-bottom: 2px solid var(--dark-color-c);
}

.body-dark .page-section {
  border-bottom: 2px solid var(--dark-color-c);
}

/* PAGE SECTION HEADER (with heading and buttons) */

.page-section > header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
  margin: 10px 0 0 var(--left-text-margin);
}

.page-section > header > h2 {
  margin: 0 20px 0 0;
}

.body-light .page-section > header > h2 {
  color: var(--light-color-d);
}

.body-dark .page-section > header > h2 {
  color: var(--light-color-c);
}

/* PAGE SECTION TAB MENU */

.page-section-tab-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0 15px var(--left-text-margin);
}

.page-section-tab-menu button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  min-width: 100px;
}

.page-section-tab-menu button:hover {
  overflow: visible;
  max-width: none;
}

/* PAGE SECTION MANAGEMENT MENU */

.page-section-management-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0 15px var(--left-text-margin);
}

/* BUTTON */

button {
  border: 2px solid;
  border-radius: 5px;
  margin: 1px;
  height: var(--button-height);
  font-size: var(--font-size);
  white-space: nowrap;
  position: relative;
}

.body-light button {
  background-color: var(--light-color-b);
  border-color: var(--light-color-b);
  color: var(--text-color-light);
}

.body-dark button {
  background-color: var(--dark-color-b);
  border-color: var(--dark-color-b);
  color: var(--text-color-dark);
}

.body-light button:disabled {
  background-color: transparent !important;
  border-color: transparent !important;
  cursor: default;
}

.body-dark button:disabled {
  background-color: transparent !important;
  border-color: transparent !important;
  cursor: default;
}

.body-light button:focus {
  border-color: var(--light-color-d) !important;
}

.body-dark button:focus {
  border-color: var(--dark-color-d) !important;
}

button:hover {
  cursor: pointer;
}

.body-light button:hover {
  background-color: var(--light-color-d);
  border-color: var(--light-color-d);
}

.body-dark button:hover {
  background-color: var(--dark-color-d);
  border-color: var(--dark-color-d);
}

.body-light .button-clicked {
  position: relative;
  background-color: var(--light-color-c);
  border-color: var(--light-color-c);
  color: var(--text-color-light);
}

.body-light .button-clicked:hover {
  background-color: var(--light-color-d);
  border-color: var(--light-color-d);
}

.body-dark .button-clicked {
  position: relative;
  background-color: var(--dark-color-c);
  border-color: var(--dark-color-c);
  color: var(--text-color-dark);
}

.body-dark .button-clicked:hover {
  background-color: var(--dark-color-d);
  border-color: var(--dark-color-d);
}

.action-button {
  position: relative;
  background-color: var(--action-color) !important;
  border-color: var(--action-color) !important;
  color: white;
}

.action-button:hover {
  background-color: var(--dark-color-d) !important;
  border-color: var(--dark-color-d) !important;
}

/* FAKES ELEMENT TO APPEAR AS A BUTTON */

.button-like {
  -webkit-appearance: button;
  text-decoration: none;
  padding: 1px 6px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;

  border: 2px solid transparent;
  border-radius: 5px;
  margin: 1px;
  height: var(--button-height);
  font-size: var(--font-size);
}

.body-light .button-like {
  background-color: var(--light-color-b);
  border-color: var(--light-color-b);
  color: var(--text-color-light);
}

.body-light .button-like:hover {
  background-color: var(--light-color-d);
  border-color: var(--light-color-d);
}

.body-dark .button-like {
  background-color: var(--dark-color-b);
  border-color: var(--dark-color-b);
  color: var(--text-color-dark);
}

.body-dark .button-like:hover {
  background-color: var(--dark-color-d);
  border-color: var(--dark-color-d);
}

/* TOOLTIP */

.tooltip {
  visibility: hidden;
  width: auto;
  position: absolute;
  z-index: 1;
  cursor: default;

  top: 100%;
  left: 0;
  margin-left: -2px;
  margin-top: 4px;
  padding: 5px;
  border: 1px solid #555;
  border-radius: 6px;

  background-color: white;
  color: #555;
  white-space: nowrap;
  text-align: center;
}

*:hover > .tooltip {
  visibility: visible;
  transition: visibility 0s linear 0.3s;
}

/* TEXT INPUT */

.text-input {
  border-radius: 5px;
  padding: 2px;
  margin: 1px;
}

.body-light .text-input {
  background-color: var(--light-color-a);
  border: 2px solid var(--light-color-b);
  color: var(--text-color-light);
}

.body-light .text-input:focus {
  border-color: var(--light-color-d);
}

.body-dark .text-input {
  background-color: var(--dark-color-a);
  border: 2px solid var(--dark-color-b);
  color: var(--text-color-dark);
}

.body-dark .text-input:focus {
  border-color: var(--dark-color-d);
}
